<form [formGroup]="userFormGroup" *ngIf="userFormGroup">
    <div class="user-card">
        <mat-card class="mat-elevation-z8 logo-card">
            <div class="logo-width">
                <div style="display: flex;flex-wrap: wrap;">
                    <img class="user-logo-size" src="{{ emptyUrl }}"
                        alt="{{userService.currentlocalizationDetails.noImageFound}}">
                    <div class="profile-section">
                        <h2>{{userService.currentlocalizationDetails.addImageText}}</h2>
                        <mat-form-field appearance="outline">
                            <mat-label>{{userService.currentlocalizationDetails.profileUrl}}</mat-label>
                            <input matInput
                                placeholder="{{userService.currentlocalizationDetails.profileUrlPlaceHolder}}"
                                formControlName="profileUrl">
                            <button type="button" mat-icon-button matSuffix (click)="checkProfileUrl()"
                                matTooltip="{{userService.currentlocalizationDetails.matTooltip}}">
                                <mat-icon>link</mat-icon>
                            </button>
                        </mat-form-field><br>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="mat-elevation-z8 basic-card">
            <h2>{{userService.currentlocalizationDetails.basicInformation}}</h2>
            <div class="form-width">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>{{userService.currentlocalizationDetails.firstName}}</mat-label>
                    <input matInput placeholder="{{userService.currentlocalizationDetails.firstNamePlaceHolder}}"
                        formControlName="firstName">
                    <mat-icon matSuffix>assignment_ind</mat-icon>
                    <mat-error
                        *ngIf="userFormGroup?.get('firstName')?.errors">{{userService.currentlocalizationDetails.firstNameValid}}</mat-error>
                </mat-form-field><br>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>{{userService.currentlocalizationDetails.lastName}}</mat-label>
                    <input matInput placeholder="{{userService.currentlocalizationDetails.lastNamePlaceHolder}}"
                        formControlName="lastName">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error
                        *ngIf="userFormGroup?.get('lastName')?.errors">{{userService.currentlocalizationDetails.lastNameValid}}</mat-error>
                </mat-form-field><br>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>{{userService.currentlocalizationDetails.email}}</mat-label>
                    <input matInput placeholder="{{userService.currentlocalizationDetails.emailPlaceHolder}}"
                        formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error
                        *ngIf="userFormGroup?.get('email')?.errors">{{userService.currentlocalizationDetails.emailValidField}}</mat-error>
                </mat-form-field><br>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>{{userService.currentlocalizationDetails.address}}</mat-label>
                    <input matInput placeholder="{{userService.currentlocalizationDetails.addressPlaceHolder}}"
                        formControlName="address">
                    <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</form><br>
<div class="user-button-align">
    <button mat-raised-button class="button-info"
        (click)="onNavigateBack()">{{userService.currentlocalizationDetails.back}}</button>
    <button mat-raised-button class="button-info"
        (click)="onSave()">{{userService.currentlocalizationDetails.save}}</button>
</div>