.visibility {
    color: green;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}

.no-record-img {
    width: 30%;
}

.imge-align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    flex-direction: column;
}

.profile-width {
    width: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header-button {
    color: white !important;
    background-color: #FF5100 !important;
}