<div class="login-card">
    <mat-card class="login-mat-card">
        <mat-card-header>
            <img class="logo-size" src="./assets/logo.webp">
        </mat-card-header><br>
        <mat-card-content class="content-align">
            <form [formGroup]="loginFormGroup" *ngIf="loginFormGroup" class="form-align">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter your username" formControlName="username">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error
                        *ngIf="loginFormGroup?.get('username')?.errors">{{warningMessage.invalidUserName}}</mat-error>
                </mat-form-field><br>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="loginFormGroup?.get('password')?.errors">{{warningMessage.invalidPassword}}</mat-error>
                </mat-form-field>
            </form><br>
            <button class="button-color" mat-raised-button (click)="onNavigate()">login</button>
        </mat-card-content>
    </mat-card>
</div>