.visibility .mat-icon {
    color: green !important;
}

.edit .mat-icon {
    color: blue !important;
}

.delete .mat-icon {
    color: red !important;
}

.no-record-img {
    width: 20%;
}

.imge-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-width {
    width: 60px;
    border-radius: 50%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header-button {
    color: white !important;
    background-color: #FF5100 !important;
}

.search-box {
    padding: 10px;
    min-width: 30%;
}

.mat-card-table {
    margin: 1%;
    padding: 10px;
}

.mdc-data-table__header-cell {
    color: #004a9b !important;
    font-size: 18px !important;
}