<div class="profile-card" *ngIf="!isLoader; else loader">
    <h1 class="welcome-align ">{{userService.currentlocalizationDetails.welcome}}, {{userDetails.firstName}}</h1>
    <div class="profile-information">
        <div class="logo-size">
            <img class="avartar-change" src="{{userDetails.profileUrl}}" alt="noImage">
        </div>
    </div>
    <br>
    <div class="information">
        <h2>{{userDetails.firstName + ' ' + userDetails.lastName}}</h2>
        <h3>{{userDetails.email}}</h3>
        <h3>{{userDetails.address}}</h3>
    </div>
    <div class="button-align" *ngIf="!toHideEdit">
        <button mat-raised-button class="button-info"
            (click)="toNavigateToedit()">{{userService.currentlocalizationDetails.edit}}</button>
    </div>
</div>

<ng-template #loader>
    <app-animation-loader></app-animation-loader>
</ng-template>