/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: cursive !important;
}

.button-info {
    margin: 0 auto;
    color: white !important;
    background-color: #FF5000 !important;
    width: 50%;
}

.mat-mdc-card {
    border: 2px solid #004a9b !important;
}

.mat-icon {
    color: grey !important;
}